$pink: rgb(247,181,196);
$skyblue: rgb(99,197,206);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 140px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  color: $skyblue;
}



body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	background: #000;
	letter-spacing: 2px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 100;
	color: #FFF;
	-webkit-text-size-adjust: 100%;
}

button{
	background: none;
	border: none;
	letter-spacing: 2px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-weight: 100;
	outline: none;
}

.Contents{
	width: 100%;
	height: 100%;
	position: relative;
}

.ContentsHeaderTopBorderCenter{
	width: 150px;
	height: 10px;
	margin-bottom: 100px;
	margin-left: calc(50% - 75px);
	position: relative;
	top: 80px;
}

.ContentsHeaderTopBorderLeft{
	width: 100px;
	height: 10px;
	margin-bottom: 100px;
	margin-left: 10%;
	position: relative;
	top: 80px;
}

.ContentsHeaderCenter{
	width: 100%;
	font-size: 60px;
	text-align: center;
	letter-spacing: 10px;
}

.ContentsHeaderLeft{
	width: 80%;
	margin-left: 10%;
	font-size: 45px;
	letter-spacing: 10px;
}

.ContentsTextCenter{
	width: 80%;
	margin-top: 100px;
	margin-left: 10%;
	text-align: center;
	font-size: 30px;
	line-height: 3;
}

.ContentsTextLeft{
	width: 80%;
	margin-top: 100px;
	margin-left: 10%;
	font-size: 30px;
	line-height: 3;
}


/***Content1***/

	#Content1{
		background: url(../IMG/back.png);
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	#Content1Logo{
		width: 80%;
		position: absolute;
		bottom: 65%;
		left: 10%;
	}

	#Content1HeaderSub{
		width: 80%;
		position: absolute;
		top: 37%;
		left: 10%;
		font-size: 30px;
		text-align: center;
	}

	#Content1Btn{
		width: 500px;
		height: 100px;
		position: absolute;
		top: 60%;
		left: calc(50% - 250px);
		font-size: 25px;
		color: #FFF;
	}


/***Content1***/


/***Content2***/

	#Content2{
		height: auto;
	}


/***Content2***/


/***Content2***/

	#Content3{
		height: auto;
		background: url(../IMG/back.jpg);
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	#Content3Shadow{
		width: 100%;
		height: auto;
		background: rgba(0,0,0,0.8);
	}


/***Content2***/


/***Content2***/

	#Content4{
		height: auto;
		background: #FFF;
	}

	.Content4ItemBox{
		width: 46%;
		margin-left: calc((100% - 92%) / 3);
		margin-bottom: 100px;
		text-align: center;
		float: left;
		color: #000;
		font-size: 30px;
	}

	.Content4ItemHeader{
		font-size: 40px;
		font-weight: 200;
	}

/***Content2***/


/***Content2***/

	#Content5{
		height: auto;
		background: #000;
	}

	.Content4ItemBox{
		width: 46%;
		margin-left: calc((100% - 92%) / 3);
		margin-bottom: 100px;
		text-align: center;
		float: left;
		color: #000;
		font-size: 30px;
	}

	.Content4ItemHeader{
		font-size: 40px;
		font-weight: 200;
	}

/***Content2***/


/***Content2***/

	#Content6{
		height: auto;
		background: #fff;
		color: #000;
	}

	.Content6Q{
		color: $skyblue;
		font-size: 50px;
	}

	.Content6A{
		color: $pink;
		font-size: 50px;
	}

/***Content2***/


/***Content2***/

	#Content7{
		height: auto;
		background: url(../IMG/back.png);
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
	}

	.Content7Img{
		width: 45%;
		margin-left: calc((100% - 90%) / 3);
	}

/***Content2***/


/***Content2***/

	#Content8{
		height: auto;
		background: #FFF;
	}

	.Content8Inputs{
		width: 100%;
		height: 100px;
		background: rgba(99,197,206,0.4);
		color: #000;
		margin: 0;
		margin-top: 50px;
		margin-bottom: 50px;
		border: none;
		font-size: 25px;
		letter-spacing: 3px;
	}

	#Content8TextArea{
		width: 100%;
		height: 500px;
		background: rgba(99,197,206,0.4);
		color: #000;
		margin: 0;
		margin-top: 50px;
		border: none;
		font-size: 25px;
	}

	#Content8SendBtn{
		width: 100%;
		height: 100px;
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 30px;
		letter-spacing: 3px;
	}


/***Content2***/

